var ch = chan();

function *process1() {
	yield put(ch, "Hello");
	var msg = yield take(ch);
	console.log(msg);
}

function *process2() {
	var greeting = yield take(ch);
	yield put(ch, greeting + "World");
	console.log("done!");
}