function coroutine(g) {
	var it = g();
	return function() {
		return it.next.apply(it, arguments);
	};
}
var run = coroutine(function* () {
	var x = 1 + (yield);
	var y = 1 + (yield);
	yield (x + y);
});

run();
run(10);
console.log(run(30).value);